<!DOCTYPE html>
<html>
<head>
  <title>messge.me Private Email Aliases and Forwarders</title>
  <meta name="description" content="messge.me offers private @messge.me email aliases, private contact forms and email forwarders. It's public privacy and free!">
  <meta name="keywords" content="private messaging, email forwarders, email alias, alias, contact form, contact, email">
  <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/assets/application.js" type="text/javascript"></script>
  <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-24059229-5']);_gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>
</head>
<body>

	<div class="topbar">
		<div class="fill">
			<div class="container fixed">
				<h3><a href="/">messge.me</a></h3>
				<ul>
					<li><a href="/about">About</a></li>
				</ul>
                <ul>
                    <li><a href="/contact/new">Contact</a></li>
                </ul>
			</div>
		</div>
	</div>
	
	<div class="container">

    	<div class="hero-unit">
		  <h1>messge.me</h1>
		
		  <h3>simple, private messaging</h3>
		
		  <div class="mainmessage">
		    <p>You need to advertise your contact information on a public site</p>
		
		    <p>But you want to control</p>
		    <ul>
		      <li>How long you're contactable</li>
		      <li>Who to respond to with your personal email</li>
		      <li>Where you get emails, managing throwaway accounts is hard and time consuming</li>
		    </ul>
		  </div>
		
		  <div class="signup">
		    <p><a class="btn primary large" href="/messges/new">I want one ... please &raquo;</a></p>
		    <p><a class="btn default" href="/about/example">I need more time to think, can I see one in action?</a></p>
		  </div>
		
		</div>
		
		<div class="row">
		  <div class="span6 columns">
		    <h3>Isn't it time you took control?</h3>
		
		    <p>Create as many as you need, I'm here to help</p>
		  </div>
		
		  <div class="span10 columns">
		    <h4>messge.me creates simple, controllable contact forms and email forwarders</h4>
		
		    <div class="center">
		    <p>I can be as disposable or permanent as you like!</p>
		
		    <p>My love can be brief</p>
		
		    <p>Or eternal</p>
		    </div>
		
		  </div>
		
		</div>
	
		<footer>
    	    <p>&copy; <a href="http://inkscribbles.com" title="Software and Beautiful Design">Ink Scribbles Pty Ltd</a> 2011</p>
            <p>We don't retain a copy of any emails sent using this service!</p>
	    </footer>
	
	</div>
	
</body>
</html>