<!DOCTYPE html>
<html>
<head>
  <title>messge.me Simple Private Messaging</title>
  <meta name="description" content="messge.me is simplified private messaging through private contact forms and email forwarders. It's public privacy and free!">
  <meta name="keywords" content="private messaging, email forwarders, contact form, contact, email">
  <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/assets/application.js" type="text/javascript"></script>
  <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-24059229-5']);_gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>
</head>
<body>

	<div class="topbar">
		<div class="fill">
			<div class="container fixed">
				<h3><a href="/">messge.me</a></h3>
				<ul>
					<li><a href="/about">About</a></li>
				</ul>
                <ul>
                    <li><a href="/contact/new">Contact</a></li>
                </ul>
			</div>
		</div>
	</div>
	
	<div class="container">

    	<section id="form">
		  <div class="page-header">
		    <h1>This contact form has expired.</h1>
		  </div>
		
		  <div class="row">
		    <div class="span16 columns">
		      <p>This contact form has expired. This is probably because the messge.me account was closed or the contact information was invalid.
		
		      messge.me provides private email contact forms and email forwarders. The address you were provided was a private email forwarder that no longer exists, therefore there is no longer a way to contact this person.
		
		      </p>
		    </div>
		
		  </div>
		
		</section>
	
		<footer>
    	    <p>&copy; <a href="http://inkscribbles.com" title="Software and Beautiful Design">Ink Scribbles Pty Ltd</a> 2011</p>
            <p>We don't retain a copy of any emails sent using this service!</p>
	    </footer>
	
	</div>
	
</body>
</html>